.footer {
  width: 100%;
  height: auto;
  background: #21325e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
  gap: 0.5rem;
  bottom: 0;
}

.footer svg {
  color: white;
}

.socialMedia {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.socialMedia svg {
  color: white;
  font-size: 55px;
  cursor: pointer;
}

.footer p {
  color: white;
}

.resumeDlBtn {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  border: none;
  background-color: #57befa;
  cursor: pointer;
  text-decoration: none;
  padding: 0.2rem;
  color: #000;
}

.resumeDlBtn svg {
  color: #000;
}

.copyRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  font-size: 0.8rem;
}

.contactAndResume {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.contactAndResume span {
  color: #fff;
}

.contactIconEmail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.iconAttributions > a {
  text-decoration: none;
  color: #b5b5b5;
}

.iconAttributions {
  font-size: 0.85rem;
  max-width: 800px;
  color: #b5b5b5;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .footer svg {
    font-size: 50px;
  }

  .resumeDlBtn svg {
    font-size: 25px;
  }

  .contactIconEmail svg {
    font-size: 25px;
  }

  .myEmail {
    font-size: 0.8rem;
  }

  .iconAttributions {
    width: 90%;
  }
}
